.signup-wrapper {
  border:1px solid #e6e6e6;
  max-width: 275px;
  margin:auto;
  margin-top:5%;
  background-color:white;
  padding:2% 5% 5% 5%;
}
.signup-wrapper h1 {
  margin:2%;
}
.signup-wrapper h4 {
  color:#999999;
  font-family: 'Helvetica';
  padding:3% 10%;
  margin:2%;
}
.signup-logo {
  font-family: 'Norican';
  font-weight:normal;
  font-size:calc(36px + 1vw);
}
.signup-box {
}
.signup-wrapper p {
  margin:3% 20%;
  color:#999;
}
