.upload-wrapper {
  text-align:center;
  padding:5%;
}
.upload-wrapper button {
  margin:5%;
  padding:2%;
  background-color:#8563c9;
  color:white;
  border:none;
  cursor:pointer;
}
.dropzone {
  border:2px dashed #8563c9;
  height:300px;
  flex:1;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.dropzone img {
  height:100%;
}
