.upload-wrapper {
  text-align:center;
  padding:5%;
}
.upload-button {
  margin:3%;
  padding:1.5%;
  background-color:#8563c9;
  color:white;
  border:none;
  cursor:pointer;
  font-size: 18px;
  font-weight: bold;
}
.dropzone {
  border:2px dashed #8563c9;
  height:300px;
  flex:1;
  width:80%;
  margin:5%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.dropzone img {
  height:100%;
}
