.search-results {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 3;
  top: 50px;
  margin-left: -50px;
}

.search-results a {
  text-decoration: none;
}
.all-search-data {
  border-top: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}
.search-data {
  padding: 10px;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #efefef;
  align-items: center;
  width: 250px;
  height: 50px;
}

.search-data img {
  flex: 1;
}

.search-data div {
  flex: 9;
  text-align: left;
  padding-left: 3vw;
}
.arrow {
  background-color: white;
  border-left: 1px solid #efefef;
  border-top: 1px solid #efefef;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  margin: auto;
  z-index:0;
  position:relative;
  top: 10px;
}
