.header-section {
  text-align:left;
  padding:0% 5%;
}
.header-section * {
  padding-bottom:5%;
}
.first-row img {
  height:25px;
  width:25px;
}
.first-row {
  display:flex;
}
.first-row * {
  padding-right:20px;
  padding-bottom:0;
}
.first-row h1 {
  margin: 0;
  min-width:10%;
}
.first-row a {
  text-decoration:none;
  min-width:100px;
}
.edit-profile {
  padding:6%;
  border:1px solid #dbdbdb;
  border-radius:4px;
  color:#262626;
  font-weight:bold;
  min-width:100px;
  background-color:transparent;
}

.settings{
  border:0px;
  background-color:transparent;
}
.first-row > button:focus {
  outline:none;
}
.edit-profile {
  background-color: transparent;
}
.follow {
  padding:2%;
  border-radius:4px;
  border:1px solid #3897f0;
  background-color:#3897f0;
  color:white;
  font-weight:bold;
  min-width:100px;
}
.follow a {
  color: white;
  padding: 2%;
}
.following {
  padding:2%;
  border-radius:4px;
  border:1px solid #dbdbdb;
  background-color:transparent;
  color:#262626;
  font-weight:bold;
  min-width:100px;
}
.second-row p {
  display:inline;
}
.second-row strong {
  padding:0;
}
.second-row * {
  padding-right:5%;
  min-width:75px;
}
