.post-grid {
  display: flex;
  padding: 10px;
}
.post-grid img {
  height: 90%;
}

.grid-img-wrapper {
  margin: 5px;
  width: 230px;
  height: 230px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
