.profile-header {
  display: flex;
  padding-bottom: 3%;
  text-align: left;
}
.profile-header > div {
  flex: 3;
  text-align:center;
}
.profile-header section {
  flex: 7;
}
.profile-image img {
  height: 100px;
  border-radius:50%;
}

.drop-profile {
  border: none; 
  cursor: pointer;
}


/* DESKTOP VIEW */

@media only screen and (min-width: 750px) {
  .profile-header {
    width: 750px;
  }
}


/* MOBILE VIEW */

@media only screen and (max-width: 750px) {
  .profile-header {
    width: 100%;
  }
}
