.profile-header {
  display: flex;
  width: 750px;
  padding-bottom: 3%;
  text-align: left;
}
.profile-header > div {
  flex: 3;
  text-align:center;
}
.profile-header section {
  flex: 7;
}
.profile-image img {
  height: 100px;
  border-radius:50%;
}

.drop-profile {
  border: none; 
  cursor: pointer;
}
